
# DO NOT ADD SECRETS TO THIS FILE. This is a good place for defaults.
# If you want to add secrets use `.env.local` instead.

ENV_VARIABLE="server_only_variable"
NEXT_PUBLIC_ENV_VARIABLE="public_variable"

NEXTAUTH_URL=http://localhost:3000

GOOGLE_CLIENT_ID="{{YOUR_GOOGLE_ID}}"
GOOGLE_CLIENT_SECRET="{{YOUR_GOOGLE_SECRET}}"

ENV_MONGO={YOUR_MONGODB_STRING_WITHOUT_DB}
ENV_MONGO_DB={YOUR_MONGODB_STRING_WITH_DB}
ENV_MONGO_DB_NAME={YOUR_MONGODB_DB_NAME}

SECRET ={GENERATE_SECRET}

JWT_SIGNING_KEY={GENERATE_USING_JOSE}
# install in npm : jose newkey -s 256 -t oct -a HS512 